.whatsapp-image-2021-05-23-at-121 {
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 10px;
  transform: scale(1.235);
}
.wrapper-whatsapp-image-2021-0512 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: -0.1px;
  bottom: -4px;
  border-radius: var(--br-311xl);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.whatsapp-image-2021-05-23-at-122 {
  height: 191px;
  width: 189.9px;
  position: relative;
  border-radius: 342.5px;
  object-fit: cover;
  z-index: 2;
}
.image-gallery {
  margin: 0 !important;
  position: absolute;
  top: 713px;
  left: 342px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.whatsapp-image-2021-05-23-at-123 {
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 10px;
  transform: scale(1.235);
}
.wrapper-whatsapp-image-2021-0513 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-311xl);
  max-height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.whatsapp-image-2021-05-23-at-124 {
  height: 191px;
  width: 189.1px;
  position: relative;
  border-radius: 304.5px;
  object-fit: cover;
  z-index: 2;
}
.image-gallery1 {
  margin: 0 !important;
  position: absolute;
  top: 337px;
  left: 945px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.whatsapp-image-2021-05-23-at-125 {
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 10px;
  transform: scale(1.235);
}
.wrapper-whatsapp-image-2021-0514 {
  height: 191px;
  width: calc(100% - 4px);
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 3px;
  left: 1px;
  border-radius: var(--br-311xl);
  max-width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.whatsapp-image-2021-05-23-at-126 {
  height: 192.6px;
  width: 191px;
  position: relative;
  border-radius: 350px;
  object-fit: cover;
  z-index: 2;
}
.image-grid {
  margin: 0 !important;
  position: absolute;
  top: 717px;
  left: 944px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.identity-coffee4,
.unimet-store4 {
  margin: 0;
}
.unimet-store-identity-container4 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 2;
}
.logo-container1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mid) 0 var(--padding-xs);
}
.inicio4 {
  flex: 1;
  position: relative;
  font-weight: 500;
  z-index: 2;
}
.home-button {
  width: 167px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-28xl);
  box-sizing: border-box;
}
.contacto3 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 83px;
  z-index: 2;
}
.contacto-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-26xl);
}
.frame-child40 {
  height: 55.1px;
  width: 232px;
  position: relative;
  border-radius: var(--br-3xs);
  background: linear-gradient(
    90.34deg,
    rgba(255, 161, 19, 0),
    rgba(244, 53, 10, 0) 0.01%
  );
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  display: none;
  mix-blend-mode: normal;
}
.product-icon2 {
  height: 20.4px;
  width: 19.1px;
  position: relative;
  z-index: 3;
}
.productos4 {
  width: 110px;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.rectangle-parent26 {
  cursor: pointer;
  border: 1px solid var(--color-white);
  padding: var(--padding-lg) var(--padding-xs) var(--padding-xs);
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-3xs);
  background: linear-gradient(
    90.34deg,
    rgba(255, 161, 19, 0),
    rgba(244, 53, 10, 0) 0.01%
  );
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15.9px;
  z-index: 2;
}
.rectangle-parent26:hover {
  background-color: rgba(230, 230, 230, 0.09);
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}
.location-icon2 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
  z-index: 2;
}
.ubicacin2 {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  z-index: 2;
}
.footer-links,
.location-label,
.location-people {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.location-label {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.footer-links,
.location-people {
  flex-direction: row;
}
.location-people {
  flex: 1;
  gap: var(--gap-sm);
}
.footer-links {
  width: 166px;
  padding: 0 var(--padding-4xs);
  box-sizing: border-box;
}
.concenos3,
.people-icon2 {
  position: relative;
  z-index: 2;
}
.people-icon2 {
  height: 24px;
  width: 24px;
  min-height: 24px;
}
.concenos3 {
  align-self: stretch;
  font-weight: 500;
}
.concenos-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.people-parent {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-smi);
}
.contact-us,
.footer,
.footer-links1,
.people-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-links1 {
  width: 163px;
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
}
.contact-us,
.footer {
  align-self: stretch;
  flex-direction: column;
  gap: 12.9px;
}
.contact-us {
  gap: 8.6px;
}
.navigation2 {
  align-self: stretch;
  gap: var(--gap-14xl);
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
}
.header,
.navigation2,
.page-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.header {
  align-self: stretch;
  gap: 148.1px;
}
.page-content {
  width: 232px;
  padding: 113px 0 0;
  box-sizing: border-box;
}
.search-field-item {
  height: 40px;
  width: 270px;
  position: relative;
  backdrop-filter: blur(4px);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: none;
}
.search-magnifier-icon {
  width: 15px;
  height: 15px;
  position: relative;
  z-index: 1;
}
.search-icon5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.buscar3 {
  width: 47px;
  border: 0;
  outline: 0;
  font-family: var(--font-roboto);
  font-size: var(--font-size-mini);
  background-color: transparent;
  height: 18px;
  position: relative;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.search-field3,
.search-input3 {
  display: flex;
  align-items: flex-start;
}
.search-field3 {
  align-self: stretch;
  backdrop-filter: blur(4px);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.search-input3 {
  width: 270px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.cart-circle {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-darkslategray-200);
  width: 100%;
  height: 100%;
}
.cart-icon5 {
  position: absolute;
  top: 11px;
  left: 10px;
  width: 30px;
  height: 30px;
  z-index: 1;
}
.cart-icon4 {
  height: 50px;
  flex: 1;
  position: relative;
}
.cart1 {
  text-decoration: underline;
  align-self: stretch;
  height: 32px;
  position: relative;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.cart-button,
.cart-label1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cart-label1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-mini) 0 0;
}
.cart-button {
  width: 117px;
  flex-direction: row;
  gap: var(--gap-smi);
}
.user-circle {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
}
.u1 {
  text-decoration: none;
  position: absolute;
  top: 8px;
  left: 13px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 16px;
  white-space: nowrap;
  z-index: 1;
}
.user-initial {
  height: 41px;
  width: 41px;
  position: relative;
}
.usuario1 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 62px;
}
.user-icon2,
.user-name2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.user-name2 {
  flex-direction: column;
  padding: var(--padding-2xs) 0 0;
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.user-icon2 {
  flex-direction: row;
  gap: var(--gap-2xs);
}
.vector-icon9 {
  width: 12px;
  height: 7.4px;
  position: relative;
}
.user-dropdown {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-base) 0 0;
}
.user-button,
.user-button-wrapper,
.user-dropdown {
  display: flex;
  align-items: flex-start;
}
.user-button {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.user-button-wrapper {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 var(--padding-base) var(--padding-9xs) 0;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.notification-icon1 {
  width: 21px;
  height: 25px;
  position: relative;
}
.notification1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-xs);
}
.cart-user,
.search-bar4 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  max-width: 100%;
}
.cart-user {
  justify-content: flex-start;
  gap: 44px;
}
.search-bar4 {
  width: 835px;
  justify-content: space-between;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.productos5 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 900;
  font-family: inherit;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
}
.cafs1,
.malteadas1 {
  position: relative;
  display: inline-block;
}
.cafs1 {
  width: 73px;
  flex-shrink: 0;
}
.malteadas1 {
  min-width: 98px;
}
.milkshake-category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
}
.otros1 {
  align-self: stretch;
  position: relative;
}
.category-selection,
.other-category {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.other-category {
  width: 77px;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.category-selection {
  flex-direction: row;
}
.frame-child41 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-darkslategray-100);
  width: 100%;
  height: 100%;
  display: none;
}
.frame-child42,
.rectangle-parent27 {
  height: 5px;
  border-radius: var(--br-mini);
}
.frame-child42 {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(89.95deg, #ffa114, #f5350b);
  width: 47px;
  z-index: 1;
}
.rectangle-parent27 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-darkslategray-100);
}
.category-tabs {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.cafs2 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.active-category-label {
  width: 225px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
}
.frame-child43 {
  height: 40px;
  width: 116px;
  position: relative;
  backdrop-filter: blur(4px);
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-200);
  display: none;
  mix-blend-mode: normal;
}
.filter-button-item {
  width: 17px;
  height: 18px;
  position: relative;
  z-index: 1;
}
.filter-button1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.filtro {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-silver-100);
  text-align: left;
  display: inline-block;
  min-width: 52px;
  z-index: 1;
}
.active-category,
.rectangle-parent28 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangle-parent28 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-mid) var(--padding-3xs);
  background-color: var(--color-darkslategray-200);
  backdrop-filter: blur(4px);
  border-radius: var(--br-3xs);
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.active-category {
  width: 461px;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  font-size: var(--font-size-5xl);
}
.category-filter,
.product-listing {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.category-filter {
  align-items: flex-end;
  gap: var(--gap-2xl);
  font-size: var(--font-size-base);
  color: var(--color-whitesmoke-300);
}
.product-listing {
  align-items: flex-start;
  padding: 0 0 32px;
  box-sizing: border-box;
  gap: 41px;
  font-size: var(--font-size-17xl);
  color: var(--color-whitesmoke-100);
}
.whatsapp-image-2021-05-23-at-127 {
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 10px;
  transform: scale(1.235);
}
.wrapper-whatsapp-image-2021-0515 {
  height: 191px;
  width: 187px;
  position: absolute;
  margin: 0 !important;
  top: -14px;
  right: 36px;
  border-radius: var(--br-311xl);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.guayoyo-card-child {
  width: 265px;
  height: 320px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-mini);
  background: linear-gradient(183.65deg, #383d46, rgba(108, 112, 118, 0));
  display: none;
}
.caf-guayoyo {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.second-card-content {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 16px;
  white-space: nowrap;
  z-index: 1;
}
.second-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 81px 0 76px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-silver-200);
}
.third-card-background {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-chocolate-100);
  mix-blend-mode: hard-light;
  z-index: 1;
}
.agregar {
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 58px;
  z-index: 2;
}
.add-third-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.cart-icon6 {
  height: 30px;
  width: 30px;
  position: relative;
  z-index: 2;
}
.guayoyo-card,
.third-card,
.third-card-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.third-card-content {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-smi) var(--padding-8xs)
    var(--padding-mid);
  background-color: transparent;
  position: relative;
  gap: var(--gap-3xs);
}
.guayoyo-card,
.third-card {
  padding: 0 var(--padding-7xl) 0 var(--padding-lgi);
}
.guayoyo-card {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-mini);
  background: linear-gradient(183.65deg, #383d46, rgba(108, 112, 118, 0));
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--padding-174xl) var(--padding-27xl) 0;
  gap: 25.5px;
}
.wrapper-whatsapp-image-2021-05-parent8 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  min-width: 199px;
}
.whatsapp-image-2021-05-23-at-128 {
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 10px;
  transform: scale(1.23);
}
.wrapper-whatsapp-image-2021-0516 {
  height: 191px;
  width: 191px;
  position: absolute;
  margin: 0 !important;
  top: -25px;
  left: 36px;
  border-radius: var(--br-324xl-5);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-child44 {
  width: 265px;
  height: 320px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-mini);
  background: linear-gradient(183.65deg, #383d46, rgba(108, 112, 118, 0));
  display: none;
}
.card-background {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-chocolate-100);
  mix-blend-mode: hard-light;
  z-index: 1;
}
.agregar1 {
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 58px;
  z-index: 2;
}
.add-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.cart-icon7 {
  height: 30px;
  width: 30px;
  position: relative;
  z-index: 2;
}
.card-background-parent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-mini) var(--padding-8xs);
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
}
.frame-wrapper28,
.rectangle-parent29 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-2xl) 0 var(--padding-4xl);
}
.rectangle-parent29 {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-mini);
  background: linear-gradient(183.65deg, #383d46, rgba(108, 112, 118, 0));
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-174xl) var(--padding-28xl) 0 var(--padding-27xl);
  gap: var(--gap-2xl);
}
.wrapper-whatsapp-image-2021-05-parent9 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  min-width: 199px;
}
.frame-child45 {
  width: 265px;
  height: 320px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-mini);
  background: linear-gradient(183.65deg, #383d46, rgba(108, 112, 118, 0));
  display: none;
}
.frame-child46 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-chocolate-100);
  mix-blend-mode: hard-light;
  z-index: 1;
}
.agregar2 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 58px;
  z-index: 2;
}
.agregar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.cart-icon8 {
  height: 30px;
  width: 30px;
  position: relative;
  z-index: 2;
}
.rectangle-parent31 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-xs) var(--padding-8xs)
    var(--padding-lg);
  position: relative;
  gap: var(--gap-3xs);
}
.frame-wrapper29,
.rectangle-parent30 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-sm);
}
.rectangle-parent30 {
  flex: 0.6491;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-mini);
  background: linear-gradient(183.65deg, #383d46, rgba(108, 112, 118, 0));
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-174xl) var(--padding-28xl) 0 var(--padding-27xl);
  box-sizing: border-box;
  gap: var(--gap-2xl);
  min-width: 199px;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.product-cards {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xl);
  text-align: center;
}
.product-image-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-mini);
  background: linear-gradient(183.65deg, #383d46, rgba(108, 112, 118, 0));
  width: 265px;
  height: 320px;
}
.loin-of-vension1 {
  position: absolute;
  top: 193px;
  left: 46px;
  display: inline-block;
  text-align: center;
  width: 172px;
  z-index: 1;
}
.plates-available,
.product-separator {
  position: absolute;
  font-weight: 500;
  z-index: 1;
}
.product-separator {
  top: 242px;
  left: 113px;
  font-size: var(--font-size-sm);
  color: var(--color-silver-200);
  white-space: nowrap;
}
.plates-available {
  top: 269px;
  left: 80px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-100);
}
.product-description,
.whatsapp-image-2021-05-23-at-129 {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  height: 92px;
}
.whatsapp-image-2021-05-23-at-129 {
  height: 100%;
  z-index: 1;
  object-fit: contain;
  top: 10px;
  transform: scale(1.23);
}
.wrapper-whatsapp-image-2021-0517 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-324xl-5);
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.whatsapp-image-2021-05-23-at-130 {
  position: absolute;
  width: calc(100% - 7.5px);
  top: 0;
  right: 2.5px;
  left: 5px;
  border-radius: var(--br-249xl);
  max-width: 100%;
  overflow: hidden;
  height: 191px;
  object-fit: cover;
  z-index: 2;
}
.gallery-images {
  height: 191px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -74px;
  left: 0;
}
.product-gallery {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 36px;
  width: 191px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.product-details {
  height: 117px;
  flex: 1;
  position: relative;
  min-width: 199px;
}
.banner-content-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-12xl);
}
.search-bar-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-16xl);
  max-width: calc(100% - 286px);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-lightgray);
  font-family: var(--font-roboto);
}
.footer-background {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-gray-400);
  width: 100%;
  height: 100%;
}
.footer-child {
  position: absolute;
  top: 0;
  left: -14px;
  width: 290px;
  height: 835px;
  mix-blend-mode: lighten;
  z-index: 1;
}
.screenshot-2024-04-29-at-7154 {
  position: absolute;
  top: 20px;
  left: 78px;
  border-radius: var(--br-33xl-5);
  width: 105px;
  height: 108px;
  object-fit: cover;
  z-index: 2;
}
.footer-separator-icon,
.vector-icon10 {
  position: absolute;
  top: 367px;
  left: 34px;
  width: 19px;
  height: 20.2px;
  z-index: 2;
}
.footer-separator-icon {
  top: 431.9px;
  left: 38px;
  width: 9.5px;
  height: 1.4px;
}
.social-icon,
.social-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.social-icon1 {
  top: 10.2px;
  left: 6px;
  width: 9.5px;
  height: 1.4px;
  z-index: 4;
}
.footer-icons,
.footer1 {
  position: absolute;
  top: 425.1px;
  left: 32px;
  width: 22px;
  height: 20.2px;
}
.footer1 {
  height: 100%;
  width: 276px;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
}
.productos3 {
  width: 100%;
  position: relative;
  border-radius: var(--br-mini);
  background: linear-gradient(180deg, #666, #000);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xl) var(--padding-2xl) 0;
  box-sizing: border-box;
  gap: 54px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-aclonica);
}
@media screen and (max-width: 750px) {
  .page-content {
    display: none;
  }
  .productos5 {
    font-size: var(--font-size-10xl);
  }
  .product-cards {
    flex-wrap: wrap;
  }
  .search-bar-parent {
    max-width: 100%;
  }
}
@media screen and (max-width: 675px) {
  .page-content {
    padding-top: 73px;
    box-sizing: border-box;
  }
  .productos3 {
    gap: var(--gap-8xl);
  }
}
@media screen and (max-width: 450px) {
  .unimet-store-identity-container4 {
    font-size: var(--font-size-lgi);
  }
  .cart-user {
    gap: var(--gap-3xl);
  }
  .productos5 {
    font-size: var(--font-size-3xl);
  }
  .cafs2 {
    font-size: var(--font-size-lgi);
  }
  .active-category {
    flex-wrap: wrap;
  }
  .product-listing {
    gap: var(--gap-xl);
  }
  .guayoyo-card,
  .rectangle-parent29,
  .rectangle-parent30 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .rectangle-parent30 {
    flex: 1;
  }
  .banner-content-parent,
  .product-cards {
    gap: var(--gap-mini);
  }
  .search-bar-parent {
    gap: var(--gap-mid);
  }
}
