.image-rect {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -1px;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-chocolate-100);
  mix-blend-mode: linear-dodge;
}
.screenshot-2024-04-29-at-7156 {
  height: 108px;
  width: 105px;
  position: relative;
  border-radius: var(--br-33xl-5);
  object-fit: cover;
  z-index: 1;
}
.screenshot-2024-04-29-at-715-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-34xl) 0 var(--padding-26xl);
}
.identity-coffee6,
.unimet-store6 {
  margin: 0;
}
.unimet-store-identity-container6 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.frame-parent59 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-10xl);
  gap: var(--gap-smi);
}
.vector-icon12 {
  width: 9.5px;
  height: 1.4px;
  position: absolute;
  margin: 0 !important;
  bottom: 395.7px;
  left: 34px;
  z-index: 1;
}
.inicio6,
.vector-icon13 {
  position: relative;
  z-index: 1;
}
.vector-icon13 {
  height: 20.2px;
  width: 19px;
}
.inicio6 {
  align-self: stretch;
  font-weight: 500;
}
.frame-wrapper32,
.inicio-wrapper1,
.vector-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.inicio-wrapper1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-11xs-1) 0 0;
}
.frame-wrapper32,
.vector-group {
  flex-direction: row;
}
.vector-group {
  flex: 1;
  gap: var(--gap-mid);
}
.frame-wrapper32 {
  width: 151px;
  padding: 0 var(--padding-2xl) 4.4px;
  box-sizing: border-box;
}
.vector-icon14,
.vector-icon15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.vector-icon15 {
  top: 10.2px;
  left: 6px;
  width: 9.5px;
  height: 1.4px;
  z-index: 3;
}
.contact-icons1 {
  width: 22px;
  height: 20.2px;
  position: relative;
}
.contact-icons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.contacto7 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 83px;
  z-index: 1;
}
.frame-parent61,
.frame-wrapper33 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent61 {
  gap: var(--gap-xs);
}
.frame-wrapper33 {
  padding: 0 var(--padding-2xl);
}
.vector-icon16 {
  height: 20.4px;
  width: 19.1px;
  position: relative;
  z-index: 1;
}
.productos7 {
  flex: 1;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.products-icons,
.products-icons-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.products-icons {
  flex: 1;
  gap: 16.9px;
}
.products-icons-wrapper {
  width: 188px;
  padding: 0 var(--padding-2xl);
  box-sizing: border-box;
}
.location-icon5 {
  height: 24px;
  width: 24px;
  position: relative;
  z-index: 1;
}
.location-rect {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(
    90.34deg,
    rgba(255, 161, 19, 0),
    rgba(244, 53, 10, 0) 0.01%
  );
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  mix-blend-mode: normal;
  z-index: 2;
}
.ubicacin5 {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  z-index: 3;
}
.frame-parent63,
.location-group,
.ubicacin-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ubicacin-frame {
  width: 110px;
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.frame-parent63,
.location-group {
  align-self: stretch;
}
.location-group {
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-lgi) var(--padding-4xs);
  position: relative;
  gap: var(--gap-sm);
}
.frame-parent63 {
  flex-direction: column;
  gap: 5.7px;
}
.concenos5,
.people-icon4 {
  position: relative;
  z-index: 1;
}
.people-icon4 {
  height: 24px;
  width: 24px;
  min-height: 24px;
}
.concenos5 {
  align-self: stretch;
  font-weight: 500;
}
.concenos-frame,
.frame-wrapper34,
.people-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.concenos-frame {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.frame-wrapper34,
.people-container {
  flex-direction: row;
}
.people-container {
  flex: 1;
  gap: var(--gap-smi);
}
.frame-wrapper34 {
  width: 185px;
  padding: 0 var(--padding-lgi);
  box-sizing: border-box;
}
.frame-parent62 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-parent60,
.frame-parent62,
.frame-wrapper31 {
  display: flex;
  align-items: flex-start;
}
.frame-parent60 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-9xl-6);
}
.frame-wrapper31 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-xs) 0 0;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
}
.image-rect-parent {
  height: 834px;
  width: 275px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-17xl) var(--padding-xl)
    var(--padding-6xs);
  box-sizing: border-box;
  position: relative;
  gap: 152px;
}
.search-icon-item {
  height: 40px;
  width: 270px;
  position: relative;
  backdrop-filter: blur(4px);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: none;
}
.search-input-icon {
  width: 15px;
  height: 15px;
  position: relative;
  z-index: 2;
}
.search-input-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.buscar6 {
  width: 47px;
  border: 0;
  outline: 0;
  font-family: var(--font-roboto);
  font-size: var(--font-size-mini);
  background-color: transparent;
  height: 18px;
  position: relative;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 2;
}
.search-icon7 {
  width: 270px;
  backdrop-filter: blur(4px);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-base) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-4xs);
  z-index: 1;
}
.i1,
.user-icon3 {
  position: absolute;
}
.user-icon3 {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.i1 {
  text-decoration: none;
  top: 6px;
  left: 16px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 7px;
  z-index: 2;
}
.user-icon-parent {
  height: 41px;
  width: 41px;
  position: relative;
}
.ingresar2 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 71px;
  z-index: 1;
}
.ingresar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.enter-icon {
  width: 12px;
  height: 7.4px;
  position: relative;
  z-index: 1;
}
.enter-icon-wrapper,
.login-buttons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.enter-icon-wrapper {
  flex-direction: column;
  padding: var(--padding-base) 0 0;
}
.login-buttons {
  flex-direction: row;
  gap: var(--gap-smi-5);
}
.language-icon {
  width: 21px;
  height: 25px;
  position: relative;
  z-index: 1;
}
.language-icon-wrapper,
.login-buttons-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.language-icon-wrapper {
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
}
.login-buttons-parent {
  width: 230px;
  flex-direction: row;
  gap: var(--gap-41xl);
}
.frame-wrapper35,
.search-icon-parent {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.search-icon-parent {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper35 {
  width: 921px;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-24xl);
  box-sizing: border-box;
}
.location-icon6,
.ubicacin6 {
  position: relative;
  flex-shrink: 0;
  debug_commit: 448091;
}
.ubicacin6 {
  margin: 0;
  height: 46px;
  width: 334px;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25),
    0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  max-width: 100%;
  z-index: 2;
}
.location-icon6 {
  width: 24px;
  height: 24px;
  z-index: 1;
}
.location-wrapper,
.map-title,
.map-title-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.location-wrapper {
  flex-direction: column;
  padding: var(--padding-2xs) 0 0;
  margin-left: -78px;
}
.map-title,
.map-title-wrapper {
  flex-direction: row;
  max-width: 100%;
}
.map-title {
  width: 354px;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.map-title-wrapper {
  align-self: stretch;
}
.image-3-icon {
  height: 829px;
  width: 919px;
  position: absolute;
  margin: 0 !important;
  top: -169px;
  right: -67px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.image-2-icon {
  height: 496px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.images,
.images-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.images {
  flex: 1;
  justify-content: flex-start;
  position: relative;
}
.images-wrapper {
  width: 902px;
  justify-content: flex-end;
  padding: 0 55px;
  box-sizing: border-box;
}
.httpsmapsappgooglvmos6s {
  height: 35px;
  width: 506px;
  position: relative;
  text-decoration: underline;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.httpsmapsappgooglvmos6s-wrapper {
  width: 902px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-xl);
}
.frame-icon {
  width: 231px;
  height: 100px;
  position: relative;
  border-radius: var(--br-3xs);
  z-index: 1;
}
.frame-parent64,
.frame-parent65 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent65 {
  gap: var(--gap-base-3);
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
}
.frame-parent64 {
  gap: var(--gap-15xl);
}
.ubicacin-inner,
.ubicacin4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
}
.ubicacin-inner {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-14xl) 0 0;
  max-width: calc(100% - 248px);
  margin-left: -27px;
  text-align: left;
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.ubicacin4 {
  width: 100%;
  position: relative;
  border-radius: var(--br-mini);
  background: linear-gradient(180deg, #666, #000);
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-xs) 0 0;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--color-white);
  font-family: var(--font-aclonica);
}
@media screen and (max-width: 925px) {
  .image-rect-parent {
    display: none;
  }
  .frame-wrapper35 {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .ubicacin6 {
    font-size: var(--font-size-10xl);
  }
  .images-wrapper {
    padding-left: var(--padding-8xl);
    padding-right: var(--padding-8xl);
    box-sizing: border-box;
  }
  .ubicacin-inner {
    max-width: 100%;
  }
  .ubicacin4 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .search-icon-parent {
    flex-wrap: wrap;
  }
  .frame-parent64 {
    gap: var(--gap-mid);
  }
}
@media screen and (max-width: 450px) {
  .unimet-store-identity-container6 {
    font-size: var(--font-size-lgi);
  }
  .image-rect-parent {
    gap: var(--gap-57xl);
  }
  .i1 {
    font-size: var(--font-size-lgi);
  }
  .ubicacin6 {
    font-size: var(--font-size-3xl);
  }
  .httpsmapsappgooglvmos6s {
    font-size: var(--font-size-base);
  }
}
