
* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

 body {
  font-family: 'Poppins', sans-serif;
  background-color: #d44c4c;
}

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #d2d2d2;
}
