.banner-image-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-mini);
  background: linear-gradient(183.65deg, #383d46, rgba(108, 112, 118, 0));
  width: 265px;
  height: 320px;
}
.loin-of-vension2 {
  position: absolute;
  top: 193px;
  left: 46px;
  display: inline-block;
  text-align: center;
  width: 172px;
  z-index: 1;
}
.plates-available1,
.title-separator {
  position: absolute;
  font-weight: 500;
  z-index: 1;
}
.title-separator {
  top: 242px;
  left: 113px;
  font-size: var(--font-size-sm);
  color: var(--color-silver-200);
  white-space: nowrap;
}
.plates-available1 {
  top: 269px;
  left: 80px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-100);
}
.banner-content {
  height: 92px;
  flex: 1;
  position: relative;
  min-width: 199px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-lightgray);
  font-family: var(--font-roboto);
}
