.component-1-child {
  height: 27px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-silver-100);
}
.p2,
.p3 {
  margin: 0;
}
.b,
.separator6 {
  position: relative;
  z-index: 1;
}
.b {
  height: 27px;
  display: inline-block;
}
.separator6 {
  width: 1px;
  height: 28px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
}
.parent4,
.separator-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.separator-wrapper {
  height: 29px;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.parent4 {
  flex-direction: row;
}
.price {
  position: relative;
  font-weight: 900;
  display: inline-block;
  min-width: 10px;
  z-index: 1;
}
.component-1,
.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.component-1 {
  position: absolute;
  top: 0;
  left: 1px;
  width: 100%;
  flex-direction: row;
  padding: 0 var(--padding-2xs);
  box-sizing: border-box;
  gap: var(--gap-12xl);
  height: 100%;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
