.icon-background,
.path-2-icon {
  position: absolute;
  mix-blend-mode: normal;
}
.path-2-icon {
  height: 33.33%;
  width: 75%;
  top: 25%;
  right: 12.33%;
  bottom: 41.67%;
  left: 12.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-background {
  height: 61.67%;
  width: 86.67%;
  top: 19.33%;
  right: 6.67%;
  bottom: 19%;
  left: 6.67%;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.envelope-alt {
  height: 30px;
  width: 30px;
  position: relative;
  z-index: 1;
}
