.frame-child51 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -1px;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-chocolate-100);
  mix-blend-mode: lighten;
}
.screenshot-2024-04-29-at-7155 {
  height: 108px;
  width: 105px;
  position: relative;
  border-radius: var(--br-33xl-5);
  object-fit: cover;
  z-index: 1;
}
.deep-nested {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-34xl) 0 var(--padding-26xl);
}
.identity-coffee5,
.unimet-store5 {
  margin: 0;
}
.unimet-store-identity-container5 {
  text-decoration: none;
  position: relative;
  color: inherit;
  z-index: 1;
}
.content-details,
.nested-content {
  display: flex;
  align-items: flex-start;
}
.nested-content {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.content-details {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-sm) 0 var(--padding-mini);
}
.home-icon1,
.inicio5 {
  position: relative;
  z-index: 1;
}
.home-icon1 {
  height: 20.2px;
  width: 19px;
}
.inicio5 {
  align-self: stretch;
  font-weight: 500;
}
.home-label,
.menu-button,
.menu2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-label {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-11xs-1) 0 0;
}
.menu-button,
.menu2 {
  flex-direction: row;
}
.menu-button {
  flex: 1;
  gap: var(--gap-mid);
}
.menu2 {
  width: 147px;
  padding: 0 var(--padding-lgi) var(--padding-8xs-3);
  box-sizing: border-box;
}
.contact-label-child {
  width: 22px;
  height: 20.2px;
  position: relative;
  z-index: 1;
}
.contact-label1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.contacto4 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 83px;
  z-index: 1;
}
.contact-button1,
.contact1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-button1 {
  gap: var(--gap-xs);
}
.contact1 {
  padding: 0 var(--padding-lgi);
}
.product-icon4 {
  width: 19.1px;
  height: 20.4px;
  position: relative;
  flex-shrink: 0;
  debug_commit: 448091;
  z-index: 1;
}
.product-icon3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.productos6 {
  flex: 1;
  position: relative;
  font-weight: 500;
  flex-shrink: 0;
  debug_commit: 448091;
  z-index: 1;
}
.product-button,
.product-label1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.product-label1 {
  flex: 1;
  gap: var(--gap-sm-9);
}
.product-button {
  width: 187px;
  padding: 0 var(--padding-3xl);
  box-sizing: border-box;
}
.sale-icon {
  width: 25px;
  height: 16.9px;
  position: relative;
  z-index: 3;
}
.sales-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.sale-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  mix-blend-mode: normal;
  z-index: 2;
}
.sale,
.ventas3 {
  position: relative;
}
.ventas3 {
  width: 120px;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.sale {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-xl) var(--padding-mid-1);
  gap: var(--gap-5xs);
}
.order-button-child {
  height: 22px;
  width: 22px;
  position: relative;
  min-height: 22px;
  z-index: 1;
}
.rdenes3 {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.order-button1,
.order-label {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}
.order-label {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.order-button1 {
  flex-direction: row;
  gap: var(--gap-2xs);
}
.order,
.order-button1,
.product {
  align-items: flex-start;
}
.order {
  width: 214px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-3xl);
  box-sizing: border-box;
}
.product {
  align-self: stretch;
  gap: var(--gap-base-3);
}
.navigation3,
.product,
.rectangle-parent34 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.navigation3 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-11xl-6);
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
}
.rectangle-parent34 {
  width: 275px;
  align-items: flex-end;
  padding: var(--padding-xl) var(--padding-3xl) var(--padding-244xl)
    var(--padding-2xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-92xl);
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-aclonica);
}
@media screen and (max-width: 950px) {
  .rectangle-parent34 {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .unimet-store-identity-container5 {
    font-size: var(--font-size-lgi);
  }
  .rectangle-parent34 {
    gap: var(--gap-36xl);
  }
}
