.caf-fro1,
.con-leche {
  margin: 0;
}
.caf-fro-con-leche-container {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.add-action {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 28px;
  white-space: nowrap;
  z-index: 1;
}
.add-cart-button,
.caf-fro-con-leche-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.add-cart-button {
  flex-direction: row;
  padding: 0 var(--padding-48xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-silver-200);
}
.caf-fro-con-leche-parent {
  flex-direction: column;
  gap: var(--gap-2xs);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-lightgray);
  font-family: var(--font-roboto);
}
