.home-rect {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-chocolate-100);
  mix-blend-mode: linear-dodge;
}
.screenshot-2024-04-29-at-7151 {
  height: 108px;
  width: 105px;
  position: relative;
  border-radius: var(--br-33xl-5);
  object-fit: cover;
  z-index: 1;
}
.logo-image {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-34xl) 0 var(--padding-26xl);
}
.identity-coffee1,
.unimet-store1 {
  margin: 0;
}
.unimet-store-identity-container1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.store-logo,
.store-logo-wrapper {
  display: flex;
  align-items: flex-start;
}
.store-logo {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.store-logo-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-3xs) 0 var(--padding-lgi);
}
.divider-icon {
  width: 9.5px;
  height: 1.4px;
  position: absolute;
  margin: 0 !important;
  bottom: 397.7px;
  left: 34px;
  z-index: 2;
}
.home-icon {
  height: 20.2px;
  width: 19px;
  position: relative;
  z-index: 4;
}
.home-background {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(
    90.34deg,
    rgba(255, 161, 19, 0),
    rgba(244, 53, 10, 0) 0.01%
  );
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  mix-blend-mode: normal;
  z-index: 3;
}
.inicio1 {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  z-index: 2;
}
.home-nav,
.inicio-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.inicio-wrapper {
  width: 73px;
  flex-direction: column;
  padding: 1.1px 0 0;
  box-sizing: border-box;
}
.home-nav {
  align-self: stretch;
  flex-direction: row;
  padding: 13.9px var(--padding-2xs) 19.1px;
  position: relative;
  gap: var(--gap-mid);
}
.email-icon,
.phone-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.email-icon {
  top: 10.2px;
  left: 6px;
  width: 9.5px;
  height: 1.4px;
  z-index: 4;
}
.contact-icon {
  width: 22px;
  height: 20.2px;
  position: relative;
}
.contact-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.contacto {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 83px;
  z-index: 2;
}
.contact-link {
  flex-direction: row;
  gap: var(--gap-xs);
}
.contact-link,
.contact-nav,
.left-nav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-nav {
  flex-direction: row;
  padding: 0 var(--padding-2xs);
}
.left-nav {
  align-self: stretch;
  flex-direction: column;
  gap: 13.9px;
}
.product-icon,
.productos {
  position: relative;
  flex-shrink: 0;
  debug_commit: 448091;
  z-index: 2;
}
.product-icon {
  height: 20.4px;
  width: 19.1px;
}
.productos {
  flex: 1;
  font-weight: 500;
}
.products-button {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base-9);
}
.location-icon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
  z-index: 1;
}
.ubicacin {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  z-index: 2;
}
.location-link,
.ubicacin-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ubicacin-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.location-link {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-sm);
}
.people-icon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
  z-index: 1;
}
.concenos,
.concenos1 {
  flex: 1;
  position: relative;
  font-weight: 500;
  z-index: 2;
}
.concenos1 {
  z-index: 3;
  margin-left: -110px;
}
.about-link {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-nav,
.location-nav {
  align-self: stretch;
  align-items: flex-end;
}
.about-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.location-nav {
  flex-direction: column;
  gap: var(--gap-2xs);
}
.location-nav,
.products-link,
.products-nav {
  display: flex;
  justify-content: flex-start;
}
.products-link {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: 17.7px;
}
.products-nav {
  width: 166px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-4xs);
  box-sizing: border-box;
}
.home-rect-parent,
.navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.navigation {
  align-self: stretch;
  align-items: flex-start;
  gap: 28.6px;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
}
.home-rect-parent {
  width: 275px;
  align-items: flex-end;
  padding: var(--padding-lgi) var(--padding-7xl) 259px var(--padding-mid);
  box-sizing: border-box;
  position: relative;
  gap: 138.1px;
  mix-blend-mode: lighten;
}
.disfruta-de-las {
  margin: 0 !important;
  width: 699px;
  position: absolute;
  top: 340.4px;
  left: 96.8px;
  font-size: inherit;
  font-weight: 900;
  font-family: inherit;
  display: inline-block;
}
.image-1-icon {
  height: 827px;
  flex: 1;
  position: relative;
  border-radius: 0 var(--br-xl) var(--br-xl) 0;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.frame-item,
.since-2023 {
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.since-2023 {
  bottom: 12px;
  left: 46px;
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-chocolate-100);
  text-align: left;
  display: inline-block;
  min-width: 73px;
}
.frame-item {
  height: 2px;
  width: 697px;
  top: 370px;
  left: 97px;
  object-fit: contain;
}
.disfruta-de-las-mejores-promoc-parent {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  height: 100%;
}
.search-field-child {
  height: 40px;
  width: 270px;
  position: relative;
  backdrop-filter: blur(4px);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: none;
}
.search-icon1 {
  width: 15px;
  height: 15px;
  position: relative;
  z-index: 3;
}
.search-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.buscar {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 47px;
  z-index: 3;
}
.login-icon-child,
.search-field {
  background-color: var(--color-white);
  z-index: 2;
}
.search-field {
  width: 270px;
  backdrop-filter: blur(4px);
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-base) var(--padding-xs);
  box-sizing: border-box;
  gap: 9px;
}
.login-icon-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.i {
  text-decoration: none;
  position: absolute;
  top: 6px;
  left: 16px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 7px;
  white-space: nowrap;
  z-index: 3;
}
.login-icon {
  height: 41px;
  width: 41px;
  position: relative;
}
.ingresar1 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 71px;
  z-index: 2;
}
.ingresar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.cart-icon1 {
  width: 12px;
  height: 7.4px;
  position: relative;
  z-index: 2;
}
.cart-icon,
.login-icon-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cart-icon {
  flex-direction: column;
  padding: var(--padding-base) 0 0;
}
.login-icon-parent {
  flex-direction: row;
  gap: 12.5px;
}
.profile-icon1 {
  width: 21px;
  height: 25px;
  position: relative;
  z-index: 2;
}
.profile-icon,
.user-actions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile-icon {
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
}
.user-actions {
  width: 230px;
  flex-direction: row;
  gap: 60px;
  font-size: var(--font-size-5xl);
}
.search-bar,
.search-input {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.search-input {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.search-bar {
  width: 865px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.welcome-title-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  mix-blend-mode: normal;
  z-index: 2;
}
.bienvenidos {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25),
    0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  max-width: 100%;
  z-index: 3;
}
.welcome-message,
.welcome-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.welcome-title {
  width: 528.4px;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-2xl);
  position: relative;
}
.welcome-message {
  width: 709px;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.aqu-encontrars-toda {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 900;
  font-family: inherit;
  z-index: 2;
}
.frame-wrapper,
.welcome-message-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.welcome-message-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-7xl);
}
.frame-wrapper {
  width: 855px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 56px var(--padding-7xs);
  box-sizing: border-box;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
}
.frame-inner {
  width: 237px;
  height: 267px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-mini);
  background: linear-gradient(183.65deg, #212429, rgba(108, 112, 118, 0));
  display: none;
}
.malteadas {
  position: relative;
  display: inline-block;
  min-width: 93px;
  z-index: 1;
}
.whatsapp-image-2021-05-23-at-1 {
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 10px;
  transform: scale(1.55);
}
.wrapper-whatsapp-image-2021-05 {
  height: 82px;
  width: 80px;
  position: relative;
  border-radius: var(--br-311xl);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.agrrate,
.oreo-vainilla {
  position: relative;
  display: inline-block;
  min-width: 82px;
  z-index: 1;
}
.oreo-vainilla {
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--color-gray-100);
  min-width: 79px;
}
.agrrate-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div {
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--color-white);
  display: inline-block;
  min-width: 31px;
  white-space: nowrap;
  z-index: 1;
}
.frame-div,
.frame-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent1 {
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-div {
  justify-content: flex-end;
  padding: 0 0 var(--padding-xs);
}
.wrapper-whatsapp-image-2021-05-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.whatsapp-image-2021-05-23-at-11 {
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 10px;
  transform: scale(1.537);
}
.wrapper-whatsapp-image-2021-051 {
  height: 82px;
  width: 82px;
  position: relative;
  border-radius: var(--br-324xl-5);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brownie-napolitano,
.libertad {
  position: relative;
  display: inline-block;
  min-width: 73px;
  z-index: 1;
}
.brownie-napolitano {
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--color-gray-100);
  min-width: 116px;
}
.libertad-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div1 {
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--color-white);
  display: inline-block;
  min-width: 31px;
  white-space: nowrap;
  z-index: 1;
}
.frame-parent2,
.frame-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent2 {
  align-self: stretch;
  gap: var(--gap-3xs);
}
.frame-wrapper1 {
  flex: 1;
  padding: var(--padding-xs) 0 0;
}
.category-images,
.wrapper-whatsapp-image-2021-05-group {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper-whatsapp-image-2021-05-group {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-2xs);
}
.category-images {
  height: 177px;
  flex-direction: column;
  gap: var(--gap-smi);
}
.rectangle-div,
.rectangle-group {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-mini);
  background: linear-gradient(183.65deg, #212429, rgba(108, 112, 118, 0));
}
.rectangle-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-2xs) var(--padding-2xl)
    var(--padding-mid);
  box-sizing: border-box;
  gap: var(--gap-17xl);
  min-width: 178px;
  z-index: 2;
}
.rectangle-div {
  width: 237px;
  height: 267px;
  position: relative;
  display: none;
}
.cafs {
  position: relative;
  display: inline-block;
  min-width: 49px;
  z-index: 1;
}
.whatsapp-image-2021-05-23-at-12 {
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 10px;
  transform: scale(1.55);
}
.wrapper-whatsapp-image-2021-052 {
  height: 82px;
  width: 80px;
  position: relative;
  border-radius: var(--br-311xl);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.capuccino,
.extra {
  position: relative;
  display: inline-block;
  min-width: 51px;
  z-index: 1;
}
.capuccino {
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--color-gray-100);
  min-width: 57px;
}
.extra-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div2 {
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--color-white);
  display: inline-block;
  min-width: 24px;
  white-space: nowrap;
  z-index: 1;
}
.frame-parent4,
.frame-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent4 {
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-wrapper2 {
  justify-content: flex-end;
  padding: 0 0 var(--padding-xs);
}
.wrapper-whatsapp-image-2021-05-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.whatsapp-image-2021-05-23-at-13 {
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 10px;
  transform: scale(1.537);
}
.wrapper-whatsapp-image-2021-053 {
  height: 82px;
  width: 82px;
  position: relative;
  border-radius: var(--br-324xl-5);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.durazno,
.lat {
  position: relative;
  display: inline-block;
  min-width: 38px;
  z-index: 1;
}
.durazno {
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--color-gray-100);
  min-width: 45px;
}
.lat-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div3 {
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--color-white);
  display: inline-block;
  min-width: 24px;
  white-space: nowrap;
  z-index: 1;
}
.frame-parent5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-wrapper3 {
  flex-direction: column;
  padding: var(--padding-xs) 0 0;
}
.frame-parent3,
.frame-wrapper3,
.wrapper-whatsapp-image-2021-05-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper-whatsapp-image-2021-05-parent1 {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-2xs);
}
.frame-parent3 {
  height: 177px;
  flex-direction: column;
  gap: var(--gap-smi);
}
.frame-child1,
.rectangle-container {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-mini);
  background: linear-gradient(183.65deg, #212429, rgba(108, 112, 118, 0));
}
.rectangle-container {
  flex: 0.9713;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-mid) var(--padding-2xl);
  box-sizing: border-box;
  gap: var(--gap-17xl);
  min-width: 178px;
  z-index: 2;
}
.frame-child1 {
  width: 237px;
  height: 267px;
  position: relative;
  display: none;
}
.otros {
  position: relative;
  display: inline-block;
  min-width: 52px;
  z-index: 1;
}
.whatsapp-image-2021-05-23-at-14 {
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 10px;
  transform: scale(1.55);
}
.wrapper-whatsapp-image-2021-054 {
  height: 82px;
  width: 80px;
  position: relative;
  border-radius: var(--br-311xl);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.coca-cola,
.original {
  position: relative;
  display: inline-block;
  min-width: 88px;
  z-index: 1;
}
.original {
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--color-gray-100);
  min-width: 42px;
}
.coca-cola-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div4 {
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--color-white);
  display: inline-block;
  min-width: 24px;
  white-space: nowrap;
  z-index: 1;
}
.frame-parent7,
.frame-wrapper4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent7 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-wrapper4 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-xs);
}
.wrapper-whatsapp-image-2021-05-parent2 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.whatsapp-image-2021-05-23-at-15 {
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 10px;
  transform: scale(1.537);
}
.wrapper-whatsapp-image-2021-055 {
  height: 82px;
  width: 82px;
  position: relative;
  border-radius: var(--br-324xl-5);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.original1,
.up {
  position: relative;
  display: inline-block;
  min-width: 31px;
  z-index: 1;
}
.original1 {
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--color-gray-100);
  min-width: 42px;
}
.up-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div5 {
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--color-white);
  display: inline-block;
  min-width: 24px;
  white-space: nowrap;
  z-index: 1;
}
.frame-parent8 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.frame-parent8,
.frame-wrapper5,
.wrapper-whatsapp-image-2021-05-parent3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper5 {
  flex-direction: column;
  padding: var(--padding-xs) 0 0;
}
.wrapper-whatsapp-image-2021-05-parent3 {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-2xs);
}
.frame-parent6 {
  width: 181px;
  height: 177px;
  flex-direction: column;
  gap: var(--gap-smi);
}
.category-list,
.frame-parent6,
.group-div,
.product-categories {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-div {
  flex: 0.9713;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-mini);
  background: linear-gradient(183.65deg, #212429, rgba(108, 112, 118, 0));
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-mid) var(--padding-2xl);
  box-sizing: border-box;
  gap: var(--gap-17xl);
  min-width: 178px;
  z-index: 2;
}
.category-list,
.product-categories {
  flex-direction: row;
  max-width: 100%;
}
.category-list {
  flex: 1;
  gap: 46px;
}
.product-categories {
  width: 881px;
  padding: 0 39px var(--padding-10xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-lightgray);
}
.para-realizar-una {
  align-self: stretch;
  position: relative;
  font-weight: 900;
  flex-shrink: 0;
  debug_commit: 448091;
}
.signup-message {
  width: 432.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 65.2px 0 0;
  box-sizing: border-box;
  min-width: 432.1px;
  max-width: 100%;
}
.signup-button-icon {
  height: 100px;
  width: 231px;
  position: relative;
  border-radius: var(--br-3xs);
  flex-shrink: 0;
  debug_commit: 448091;
  z-index: 2;
}
.signup-message-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  font-size: var(--font-size-mini);
}
.group-section,
.inicio {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  text-align: center;
}
.group-section {
  margin-top: -4px;
  flex: 1;
  flex-direction: column;
  padding: var(--padding-17xl) var(--padding-xs) 0 var(--padding-sm);
  gap: 76px;
  opacity: 0.8;
  mix-blend-mode: soft-light;
  max-width: calc(100% - 275px);
  flex-shrink: 0;
  font-size: 25px;
  color: var(--color-whitesmoke-100);
  font-family: var(--font-roboto);
}
.inicio {
  width: 100%;
  border-radius: var(--br-mini);
  background: linear-gradient(180deg, #666, #000);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-12xs) 0 var(--padding-11xs);
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-aclonica);
}
@media screen and (max-width: 925px) {
  .home-rect-parent {
    display: none;
  }
  .bienvenidos {
    font-size: var(--font-size-10xl);
  }
  .aqu-encontrars-toda {
    font-size: var(--font-size-7xl);
  }
  .frame-wrapper {
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .category-list {
    flex-wrap: wrap;
  }
  .signup-button-icon,
  .signup-message {
    flex: 1;
  }
  .signup-message-parent {
    flex-wrap: wrap;
  }
  .group-section {
    gap: 38px;
    max-width: 100%;
  }
  .inicio {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .home-rect-parent {
    padding-top: var(--padding-xl);
    padding-bottom: 168px;
    box-sizing: border-box;
  }
  .signup-message {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .unimet-store-identity-container1 {
    font-size: var(--font-size-lgi);
  }
  .home-rect-parent {
    gap: 69px;
  }
  .disfruta-de-las {
    font-size: var(--font-size-xl);
  }
  .bienvenidos {
    font-size: var(--font-size-3xl);
  }
  .aqu-encontrars-toda {
    font-size: var(--font-size-lgi);
  }
  .group-div,
  .rectangle-container {
    flex: 1;
  }
  .category-list {
    gap: var(--gap-4xl);
  }
  .group-section {
    gap: 19px;
  }
}
