.screenshot-2024-04-29-at-715 {
  height: 85px;
  width: 83px;
  position: relative;
  border-radius: var(--br-33xl-5);
  object-fit: cover;
}
.screenshot-2024-04-29-at-715-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-19xl);
}
.identity-coffee,
.unimet-store {
  margin: 0;
}
.unimet-store-identity-container {
  align-self: stretch;
  position: relative;
  font-size: 18px;
  font-family: var(--font-aclonica);
  color: var(--color-white);
  text-align: center;
}
.frame-container,
.frame-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-container {
  width: 159px;
  flex-direction: column;
  gap: var(--gap-mid);
}
.frame-group {
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  row-gap: 20px;
}
.registro-inner,
.registro1 {
  display: flex;
  box-sizing: border-box;
}
.registro-inner {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mini) 0 0;
  max-width: 100%;
}
.registro1 {
  margin: 0;
  width: 100%;
  position: relative;
  border-radius: var(--br-xl);
  background: linear-gradient(180deg, #000, #666 47%);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 42px 126px 54px var(--padding-49xl);
  gap: 57px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 675px) {
  .registro1 {
    gap: 28px;
    padding-left: var(--padding-15xl);
    padding-right: 63px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .registro1 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
